.topics-logo {
  padding-top: 67px;
  padding-left: 70px;
  object-fit: contain;
}

.topics-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topics-context {
  color: white;
}

.topics-button {
  width: 234px;
  height: 60px;
  border: none;
  background: #55c6d7;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}

.topics-subheader {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.topics-sidebar {
  width: 5px;
  background: #55c6d7;
  opacity: 0.95;
}

.topics-p {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.03em;
  width: 240px;
  padding-left: 15px;
  margin: 0;
}

.buttonGroup {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

.back-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  background: #e0e0e0;
}

.next-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  cursor: pointer;
  border: 1px solid #55c6d7;
  background: #55c6d7;
}

.next-button:active {
  opacity: 0.9;
}

.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
