.home-logo {
  background-image: url("../../../images/home-logo.png");
  position: absolute;
  width: 366px;
  height: 88px;
  left: 68px;
  top: 75px;
}

.home-context {
  color: white;
  padding: 309px 67px 177px 70px;
}

.home-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
}

.home-p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #f2f2f2;
}
